# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
**/node_modules/
node_modules/
package-lock.json
yarn.lock

# Ignore Gradle build output directory
build
# Ignore Maven build output directory
target

# Eclipse
.classpath
.settings

# Binary files and directories (at all levels)
**/bin/
bin/
*.bin

# installed Fabric binaries etc.
builders/
config/
external-chaincode/
install-fabric.sh
# override the ignore of all config/ folders
!full-stack-asset-transfer-guide/infrastructure/sample-network/config
